header{
    background: #BBBBBB;
    padding: 20px 0;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
    /* posicionamento ao centro */
}

nav{
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px ;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold; 
    /* muda a fonte espeçura*/
    font-size: 22px;
    /* muda o tamanho */
    text-decoration: none;
    /* retirou o sublinhado da tag a */
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    /* ajusta o tamanho interno */
}

.produtos li{
    display: inline-block;
    /* display = faz com que os blocos se alinhem um do lado do outro */
    text-align: center;
    /* aling = faz com que o conteudo seja alinhado ao centro */
    width: 30%;
    /* opcupar 30% do bloco */
    vertical-align: top;
    /* faz com que o bloco se alinhe pelo topo ao inves do padrão que é o bot */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* defini o espaçamento interno como absoluto ao inves de somar % com px */
    border: 2px solid #000000;
    border-radius: 10%;
    /* calculando o raio da borda */
}

.produtos li:hover{
    border-color: #C78C19;
    
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
}

.produtos-preço{
    font-size: 22px;
    font-weight: bold;
    /* peso da fonte */
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("../img-produtos/bg.jpg");
    padding: 40px 0 ;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}