body{
    background-color: white;
}

#banner{
    width: 100%; 
}

.principal{
    background-color: gray;
    padding: 30px;
}

.titulo-principal{
    margin-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}


#missao{
    text-align: center;
    font-size: 20px;
}


em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}



/* color hexadecimal entendendo*/

/* hexadecimal 0123456789ABCDEF */
/* Quanto mais proximo do F = color max BRANCO */
/* Quanto mais proximo do 0 = color min PRETO */
/* RGB = RED GREEN BLUE */
/* # _ _ _ _ _ _ */ 
/* 0 = Ausencia */
/* F = Maximo */

/* padrão RGB */
/* RGB = 0,1,2,3, ...255 */